nb-layout-column {
    background-color: white
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.first{
    width: 50%;
}

@media(max-width:1079px) {
    .first{
        width: 85%;
    }
}
