<button class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="right" title="Add new student"><span class="glyphicon glyphicon-plus"></span></button><br><br>
<div class="panel panel-default">
<table class="table table-hover table-striped">
  <thead class="tablecol">
    <tr>
      <th class="text-center" scope="col" style="width: 10%">#</th>
      <th class="text-center" scope="col" style="width: 30%">First name</th>
      <th class="text-center" scope="col" style="width: 30%">Last name</th>
      <th class="text-center" scope="col" style="width: 30%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="tablecol">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td class="text-center">
        <button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit student data">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div class="divider"></div>
        <button class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="Delete student">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row" class="tablecol">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td class="text-center">
        <button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit student data">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div class="divider"></div>
        <button class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="Delete student">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row" class="tablecol">3</th>
      <td>Larry</td>
      <td>Bird</td>
      <td class="text-center">
        <button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit student data">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div class="divider"></div>
        <button class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="Delete student">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>